{% extends 'base.html.twig' %}

{% block title %}
    Se connecter
{% endblock %}

{% block body %}

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="POST" action="{{ path('login') }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Connexion</h5>
                    </div>
                    <div class="modal-body">
                        <img class="mx-auto img-fluid" src="{{ asset('img/undraw_authentication_fsn5.png') }}" />
                        <br>
                        <div class="form-group">
                            <label for="mail">Email</label>
                            <input type="text" name="_username" value="{{ last_mail }}" id="mail" class="form-control" placeholder="Mail" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="_password" id="mdp" class="form-control" placeholder="Password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="modal-footer">
                        <a href="{{path('index')}}"><button type="button" class="btn btn-outline-dark">Retour</button></a>
                        <button type="submit" class="btn btn-eura">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}
{% block footer %}{% endblock %}