{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mon espace{% endblock %}

{% block body %}
    <header>

        <a href="{{ path('index') }}" id="return" class="btn btn-eura btn-sm ml-2"><i class="far fa-arrow-alt-circle-left"></i></a>

        <!--Mise en place du logo-->
        <img id="logoMembre" class="mx-auto d-block mt-3 nav-link" src="{{ asset('img/logo-kids.png') }}"
             alt="Logo Kids" href="#top" style="cursor: pointer;">

        {% if app.user %}

        <div class="button ml-3 mr-5">
        <button class="btn btn-outline-eura dropdown-toggle btn-n" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.user.firstname }} {{ app.user.lastname }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="dropdown-item" href="{{ path('easyadmin') }}">Administrer</a>
            {% endif %}
            <a class="dropdown-item" href="{{ path('index') }}">Accueil</a>
            <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
        </div>
        </div>

        {% endif %}
    </header>

    <div class="container-fluid" id="top">
            <div class="row mb-5">
                <div class="container-fluid position">
                    <div class="d-flex flex-row-reverse">
                        <div id="buttons" class="py-3 text-right">
                            {% if app.user %}
                                <button class="btn btn-outline-eura dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.firstname }} {{ app.user.lastname }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="dropdown-item" href="{{ path('easyadmin') }}">Administrer</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
                                </div>
                            {% else %}
                                <button class="btn btn-eura btn-sm mr-3" data-toggle="modal" data-target="#connexion">Connexion</button>
                                <button class="btn btn-eura btn-sm mr-3" data-toggle="modal" data-target="#inscription">Inscription</button>
                            {% endif %}
                        </div>
                    </div>
                <div class="container">
                    <div class="col-md-12 pr-0 pl-0 text-white text-center mb-5">
                        <div class="card border-0 m-0" id="top-image">
                            <img class="card-img" src="{{ asset('img/20191022_153109.jpg') }}" alt="enfant parent">
                        </div>
                    </div>
        
                    <!-- collapse modif -->
                    
                    <div class="accordion container mx-auto pt-5" id="accordionExample">
                        <div class="card text-center col-md-12">
                            <div class="card-title" id="headingOne">
                                <h2 class="mb-2 mt-3">
                                    <button class="btn btn-eura text-center" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fas fa-users"></i>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <h2>Mes infos </h2>
                                    {{ form_start(modifMember) }}
                                    {{ form_row(modifMember.mail) }}
                                    {{ form_row(modifMember.lastname) }}
                                    {{ form_row(modifMember.firstname) }}
                                    {{ form_row(modifMember.phone, {'attr': {'pattern': '[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}'}}) }}
                                    {{ form_row(modifMember.plainPassword) }}
                                    {{ form_row(modifMember.agreeTerms) }}


                                <button class="btn btn-eura">Modifier</button>
                                {{ form_end(modifMember) }}
                                
                                    <h2>Mes enfants </h2>

                                    <div class="table-responsive">
                                        <table class="table" id="tableau">

                                            <thead>
                                            <tr>
                                                <th scope="col">Prenom</th>
                                                <th scope="col">Date de naissance</th>
                                                <th scope="col">Modifier</th>
                                                <th scope="col">Supprimer</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for kid in app.user.kids %}
                                                <tr>
                                                    <td scope="col">{{ kid.name }}</td>
                                                    <td scope="col">{{ kid.birthday|date("d/m/Y") }}</td>
                                                    <td scope="col">
                                                        <button type="button" class="btn btn-eura text-center"><i
                                                                    class="fas fa-user-edit"></i></button>
                                                    </td>
                                                    <td scope="col">
                                                        <form method="post"
                                                              action="{{ path('del_kid',{'id': kid.id}) }}"
                                                              onsubmit="return confirm('Étes-vous certain de vouloir supprimer cette enfant ?');">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token"
                                                                   value="{{ csrf_token('delkids' ~ kid.id) }}">
                                                            <button class="btn btn-eura text-center"><i
                                                                        class="fas fa-user-times"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <table class="table" id="tablmob">
                                            {% for kid in app.user.kids %}
                                                <tbody>
                                                <tr class="table-light">
                                                    <th class="thead-light" scope="row">Prénom</th>
                                                    <td class="thead-light">{{ kid.name }}</td>
                                                </tr>
                                                <tr class="thead-light">
                                                    <th scope="row">Date de naissance</th>
                                                    <td>{{ kid.birthday|date("d/m/Y") }}</td>
                                                </tr>
                                                <tr class="thead-light">
                                                    <th scope="row">Modifier</th>
                                                    <td>
                                                        <button type="button" class="btn btn-eura text-center"><i
                                                                    class="fas fa-user-edit"></i></button>
                                                    </td>
                                                </tr>
                                                <tr class="thead-light">
                                                    <th scope="row">Supprimer</th>
                                                    <td>
                                                        <button type="button" class="btn btn-eura text-center"><i
                                                                    class="fas fa-user-times"></i></button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="contenu">

                                        <button class="btn btn-eura text-center mb-3" onclick="myFunction()" type="submit">
                                        <i class="fas fa-plus "></i></button>

                                        <br/>
                                        <div id="cible" class="flip">
                                            {{ form_start(addkids) }}
                                            {{ form_row(addkids.name) }}
                                            <div class="d-flex justify-content-center">
                                                {{ form_row(addkids.birthday) }}
                                            </div>
                                                <button class="btn btn-outline-eura">Ajouter</button>
                                            {{ form_end(addkids) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- vos ateliers -->
                    <div class="container mx-auto pt-5">
                        <div class="jumbotron jumbotron-fluid mt-5 row text-center justify-content-md-around mx-auto  shadow-lg"
                             id="jumbo">
                            <div class="container">
                                <h2>Vos prochains ateliers</h2><br/>
                                <div class="table-responsive">
                                    <table class="table" id="tablmob">
                                        {% for kid in app.user.kids %}
                                                {% if kid.programs is not empty %}
                                                    {% for p in kid.programs %}
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">Prénom</th>
                                                            <td>{{ kid.name }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Reservation</th>
                                                            <td>{{ p.name }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Date</th>
                                                            <td>{{ p.startdate|date('d-m-Y') }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-light" scope="row">Annuler</th>
                                                            <td class="table-light">
                                                                <a href="#"><button class="btn btn-eura text-center"><i class="fas fa-eraser"></i></button></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    {% endfor %}
                                                {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                                <table id="tableau" class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Réservation</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Annuler</th>
                                    </tr>
                                    </thead>
                                    {% for kid in app.user.kids %}
                                            {% if kid.programs is not empty %}
                                                {% for p in kid.programs %}
                                                    <tr>
                                                        <td>{{ kid.name }}</td>
                                                        <td>{{ p.name }}</td>
                                                        <td>{{ p.startdate|date('d-m-Y') }}</td>
                                                        <td>
                                                            <a href="#"><button class="btn btn-eura text-center"><i class="fas fa-eraser"></i></button></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Les programmes -->
                    <div class="container mx-auto mb-5">
                        <h2 class="text-center">Les programmes à venir </h2>
                        <section id="programmes" class="mt-5 row text-center justify-content-md-around">
                            {% for program in programs %}
                                <div class="card lg-3 col-md-5 mx-3 mb-5">
                                    <img class="card-img-top mt-4" src="{{ asset('img/20191022_153109.jpg') }}"
                                         alt="card photos">
                                    <h4>{{ program.category.name }}</h4>
                                    <div class="card-body">
                                        <p class="card-text">{{ program.description }}</p>
                                        <i class="far fa-calendar-alt"></i>
                                        {% if program.registration %}
                                            <p>Inscriptions à partir du {{ program.registration|date('d-m-Y') }}</p>
                                        {% endif %}
                                        <p>{{ program.startdate|date('d-m-Y') }}{% if program.enddate %} au {{ program.enddate|date('d-m-Y') }}{% endif %}</p>
                                    </div>
                                    <div class="card-footer">
                                        {% if program.registration %}
                                            {% if date().timestamp >= program.registration.timestamp %}
                                                {% if date().timestamp < program.startdate.timestamp %}
                                                    <button type="button" class="btn btn-eura" data-toggle="modal" data-target="#p{{ program.id }}">Réserver</button>
                                                {% else %}
                                                    <button type="button" class="btn btn-eura" disabled>Réservations terminées</button>
                                                {% endif %}
                                            {% else %}
                                                <button type="button" class="btn btn-eura" disabled>Réservations non ouvertes</button>
                                            {% endif %}
                                        {% else %}
                                            <button type="button" class="btn btn-eura" data-toggle="modal" data-target="#p{{ program.id }}">Réserver</button>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </section>
                    </div>
                            
                    {% for program in programs %}
                        <!-- Modal Programme:{{ program.id }} -->
                        <div class="container">
                            <div class="modal fade" id="p{{ program.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollableTitle">Reserver pour id {{ program.id }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-check text-left">
                                                {% for kid in app.user.kids %}
                                                    {% if program not in kid.programs %}
                                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                                        <label class="form-check-label" for="gridCheck">
                                                            {{ kid.name }}
                                                        </label>
                                                        <br />
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-eura">Valider</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin - Modal Programme:{{ program.id }} -->
                    {% endfor %}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
