{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mon espace{% endblock %}

{% block body %}
    <header>
        <a href="{{ path('index') }}" id="return" class="btn btn-eura btn-sm ml-2">Revenir au site</a>

        <!-- Ouverture du menu au click -->
        <nav class="topnav" id="topNavMembre">
            <a href="#" onclick="openNav()">
                <i class="fas fa-edit text-eura"></i>
            </a>
        </nav>

        <!--Mise en place du menu -->
        <div id="sideNavigation" class="sidenav MenuMembre">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="container">
                <h2>Mes infos </h2>
                <form method="POST" name="SaisieInfoPerso" id="SaisieInfoPerso" action="InfosPersoB.php5" onsubmit="return ValideSaisieInfo();">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button class="btn btn-secondary btn-sm btn-block" type="submit">Modifier</button>
                </form>
            </div> <br />
            <i class="fas fa-arrow-left fa-2x ml-5 mr-3"><p id="site">Revenir au site </p></i>
        </div>

        <!--Mise en place du logo-->
        <img id="logoMembre" class="mx-auto d-block mt-3 nav-link" src="{{asset('img/logo-kids.png')}}" alt="Logo Kids" href="#top" style="cursor: pointer;">

        {% if app.user %}
        <div class="button ml-3 mr-5">
        <button class="btn btn-outline-eura dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.user.mail }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="dropdown-item" href="{{ path('easyadmin') }}">Administrer</a>
            {% endif %}
            <a class="dropdown-item" href="{{ path('index') }}">Accueil</a>
            <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
        </div>
        </div>
        {% endif %}
    </header>

    <div class="container-fluid" id="top">
        <div class="row">
            <div class="col-3 mt-5 pt-5" id="menuFixed">
                <div class="position-fixed">
                    <h2>Mes infos </h2>
                    <form method="POST" name="SaisieInfoPerso" id="SaisieInfoPerso" action="InfosPersoB.php5" onsubmit="return ValideSaisieInfo();">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button class="btn btn-secondary btn-sm btn-block" type="submit">Modifier</button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="container-fluid">
                    <div class="col-md-12 pr-0 pl-0 text-white text-center position mb-5">
                        <div class="card border-0 m-0" id="top-image">
                            <img class="card-img" src="{{asset('img/20191022_153109.jpg')}}" alt="enfant parent">
                        </div>
                    </div>
                    <!-- vos ateliers -->
                    <div class="container mx-auto pt-5">
                        <div class="jumbotron jumbotron-fluid mt-5 row text-center justify-content-md-around mx-auto  shadow-lg" id="jumbo">
                            <div class="container">
                                <h2>Vos prochains ateliers</h2><br />
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Réservation</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Annuler</th>
                                    </tr>
                                    </thead>
                                    {% for kid in kids %}
                                        {% if kid.user == app.user %}
                                            {% if kid.programs is not empty %}
                                                {% for p in kid.programs %}
                                                    <tr><td>{{ kid.name }}</td><td>{{ p.name }}</td><td>{{ p.startdate|date('d-m-Y') }}</td><td><a href="#"><i class="fas fa-eraser"></i></a></td></tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Les programmes -->
                    <div class="container mx-auto mb-5">
                        <h2 class="text-center">Les programmes à venir </h2>
                        <section id="programmes" class="mt-5 row text-center justify-content-md-around">
                            {% for program in programs %}
                            <div class="card col-lg-3 col-md-5 col-12 mx-3 mb-5">
                                <img class="card-img-top mt-4" src="{{asset('img/20191022_153109.jpg')}}" alt="card photos">
                                <h4>{{ program.category.name }}</h4>
                                <div class="card-body">
                                    <p class="card-text">{{ program.description }}</p>
                                    <i class="far fa-calendar-alt"></i>
                                    {% if program.registration %}
                                        <p>{{ program.registration|date('d-m-Y') }}</p>
                                    {% endif %}
                                    <p>{{ program.startdate|date('d-m-Y') }}{% if program.enddate %} au {{ program.enddate|date('d-m-Y') }}{% endif %}</p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-eura" data-toggle="modal" data-target="#p{{ program.id }}">
                                        Réserver
                                    </button>
                                </div>
                            </div>
                            <!-- Modal Programme:{{ program.id }} -->
                            <div class="modal fade" id="p{{ program.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollableTitle">Reserver pour {{ program.name }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-check text-left">
                                                {% for kid in kids %}
                                                    {% if kid.user == app.user %}
                                                        {% if program not in kid.programs %}
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                {{ kid.name }}
                                                            </label>
                                                            <br />
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-eura">Valider</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin - Modal Programme:{{ program.id }} -->
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
